.gallery-section {
    padding-top: 2em;
    position: relative;
    .section-body{
        padding: 3em 0 1em;
    }
    .gallery-block {
        //temp
        background-color: orchid;
        background-position: center;
        background-size: cover;
        position: relative;
        margin: 0 -14px 0 -14px;
        box-shadow: 0 0 0 1px white;
        &.great {
            .spacer {
                padding-bottom: 200%;
            }
        }
        .spacer {
            padding-bottom: 100%;
        }
    }
    .gallery-wrapper {
        padding: 0 3em;
    }
    .gallery-photo {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, .4);
        opacity: 0;
        text-decoration: none;
        &:hover {
            transition: opacity .25s ease-in-out;
            opacity: 1;
        }
    }
    .ion-android-search:before {
        content: "\f2f5";
        font-family: 'Ionicons';
        color: white;
        font-size: 6em;
        @media (max-width: $screen-tablet) {
            font-size: 3em;
        }
    }
    .carousel-control{
        display: flex;
        align-items: center;
    }

    .carousel-control{
        width: 3em;
        &.left{
            background-image: none;
        }
        &.right{
            background-image: none;
            justify-content: flex-end;
        }
    }
    .ion{
        &:before {
            color: black;
            font-size: 3em;
            @media (max-width: $screen-tablet) {
                font-size: 1em;
            }
        }
    }

}
