@import url('https://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin,cyrillic');
/* Webfont: Lato-Bold */
//noinspection ALL


/* font-family: "RalewaySemiBold"; */
@font-face {
    font-family: "RalewaySemiBold";
    src: url("../fonts/RalewaySemiBold.eot");
    src: url("../fonts/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewaySemiBold.woff") format("woff"),
    url("../fonts/RalewaySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayBold"; */
@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/RalewayBold.eot");
    src: url("../fonts/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayBold.woff") format("woff"),
    url("../fonts/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


//noinspection ALL
/* Webfont: Lato-Regular */
@font-face {
    font-family: 'LatoWeb';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */
@font-face {
    font-family: 'LatoWebMedium';
    src: url('../fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    //noinspection CssUnknownProperty
    text-rendering: optimizeLegibility;
}
//GLOBAL COLORS

body {
    position: relative;

    @media all and (max-width: $screen-tablet) {
        font-size: 12px;
    }
    @media all and (max-width: $screen-phone) {
        font-size: 10px;
        h1 {
            font-size: floor(($font-size-base * 1.8));
        }
        h2 {
            font-size: floor(($font-size-base * 1.6));
        }
        h3 {
            font-size: ceil(($font-size-base * 1.1));
        }
        h4 {
            font-size: $font-size-base;
        }
        h5 {
            font-size: ceil(($font-size-base * .9));
        }
    }
}

.relative {
    position: relative;
}
.semi-bold{
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 800;
}

.color-white {
    color: #ffffff;
}

.color-primary {
    color: $brand-primary;
}
.color-brand-red{
    color: $brand-danger;
}

.light {
    font-weight: 300;
}

.btn-lg {
    font-size: 1em;
    height: 3.5em;
    padding-top: 0;
    padding-bottom: 0;
    white-space: nowrap;
    line-height: 3.5em;
}


a, button, input, textarea {
    &:focus,
    &:active {
        outline: none !important;
    }
}

.section-header {
    text-align: center;
    max-width: 790px;
    margin: 0 auto;
    h2 {
        font-weight: 500;
    }
    .section-subheader {
        font-size: 1.2em;
        color: #898989;
        line-height: 1.5;
    }
}
.no-padding {
    padding: 0;
}

.block-centered {
    display: block;
    margin: 0 auto;
}

.spacer {
    font-size: 1px;
    &.quad {
        padding-top: 100%;
    }
}

//FORMS
.form-feedback {
    background-color: white;
    padding: 2em 2em .5em;
    &.production-modal-form {
        @media (min-width: $screen-lg-min) {
            padding-left: 0;
        }
    }
    &.staff-form {
        background-color: transparent;
        padding: 0;
    }
    input[type="text"], button[type="submit"] {
        height: 3em;
    }
    input[type="text"], button[type="submit"], textarea {
        font-size: 1.1em;;
        border: 1px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-bottom: 1em;
    }
    input[type="text"], textarea {
        width: 100%;
        border: 1px solid lightgray;
        &:active,
        &:focus {
            border-color: $brand-primary;
        }
    }
    button[type="submit"] {
        float: right;
    }
    textarea {
        resize: none;
        padding: 10px 16px;
    }
    .header-form {
        margin: 0 0 1em;
    }
}


.animated {
    opacity: 0;
    &.visible {
        opacity: 1;
    }
}
section{
    padding: 3em 0;
}

.section-header{
    .heading{
        -webkit-text-fill-color: transparent;
        background: linear-gradient(transparent, transparent),
        url('../img/text-bg.jpg') repeat right;
        -webkit-background-clip: text;
        margin-top: .5em;
    }
    font-family: 'RalewaySemiBold', sans-serif;
}


.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
    .carousel-control {
        z-index: 2;
    }
}

//Ion icons
.ion{
    &:before {
        font-family: 'Ionicons';
        color: black;
        font-size: 3em;
        @media (max-width: $screen-tablet) {
            font-size: 1em;
        }
    }
}
.ion-ios-arrow-left:before {
    content: "\f3d2";
}
.ion-ios-arrow-right:before {
    content: "\f3d3";
}
.section-border {
    position: absolute;
    width: 100%;
    height: 9px;
    background: url("../img/border-line.png") repeat-x;
    &.white{
        background: url("../img/border-line-white.png") repeat-x;
    }
    &.grey{
        background: url("../img/border-line-grey.png") repeat-x;
    }
    &.top {
        top: 0;
    }
    &.bottom {
        bottom: 0;
    }
}
