.header {
    @media all and (max-width: 965px) {
        h1 {
            font-size: floor(($font-size-base * 2.5));
        }
        h2 {
            font-size: floor(($font-size-base * 1.9));
        }
    }
    padding-top: $navbar-height;

    @media (min-width: 768px) {
        .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
            margin-left: 20px;
        }
    }

    .navbar {
        .i-icons:before {
            left: 1em;
            top: 25%;
            padding: 0;
            font-size: 1em;
        }
    }
    .navbar-main {
        li {
            @media (min-width: 768px) {
                &:after {
                    content: '/';
                    position: absolute;
                    top: 30%;
                    color: white;
                    right: 0;
                }
            }
            &:nth-last-child(1):after {
                display: none;
            }
        }
    }
    .navbar-right {
        li {
            a {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
    .start-modal {
        box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.4), inset 0 0 1px 0 rgba(255, 255, 255, 0.6);
        position: relative;
        color: white;
        padding-left: 5px;
        padding-right: 5px;
        font-size: .9em;
        .btn-img-label, .btn-text-label {
            position: relative;
        }

        h1 {
            color: $brand-danger;
            font-weight: 900;
            font-size: 3.5em;
            max-width: 500px;
            margin: 0 auto;
        }

    }
    .main-header {
        .form-group {
            .time-delivery, .body-form {
                box-shadow: 0 0 3px 1px $gray-light;
            }
            position: absolute;
            right: 1%;
            max-width: 295px;
            @media all and (min-width: 1300px) {
                right: 15%;
            }
            .time-delivery {
                border-radius: $border-radius-large;
                background: url("../img/form-bg.jpg");
                margin-bottom: 8px;
                padding: .4em;
                .form-wrapper {
                    min-height: 100px;
                }
            }
            .top-clock-heading {
                font-size: 1.1em;
            }
            .top-clock-wrapper {

                color: $brand-danger;
                font-size: 18px;
                vertical-align: middle;
            }
            .top-clock {
                padding: 5px 14px;
            }
            @media all and (max-width: 665px) {
                margin: 0 auto;
                position: static;
            }
        }
        position: relative;
        min-height: 580px;
        padding-top: 1.5em;
        background-size: cover;
        box-shadow: inset 0 0 3px 0 rgba(231, 221, 227, 1);
        background: no-repeat center;
        @media all and (min-width: $screen-tablet) {
            background-image: url("../img/header-bg-hires.jpg");
        }
        @media all and (max-width: $screen-tablet) {
            background-image: url("../img/header-bg-mobil.jpg");
        }
        .line {
            width: 100%;
            height: 1px;
            position: absolute;
            &.top {
                top: 0;
            }
            &.bottom {
                bottom: 0;
            }
        }
        @media all and (max-width: $screen-tablet) {
            padding-top: 5px;
        }
    }
    .delivery-icons {
        padding-top: 1.5em;
        max-width: 320px;
        margin: 0 auto;
        li {
            text-align: center;
            width: 32%;
            img {
                display: block;
                margin: 0 auto;
            }
            span {
                max-width: 6em;
                display: inline-block;
                line-height: 1;
                font-size: .9em;
            }
        }
        @media all and (max-width: 665px) {
            display: none;
        }
    }

    @media all and (min-width: 768px) {
        #navbar {
            display: flex !important;
            justify-content: center;
        }
    }
    .header-form {
        bottom: 0;
        .body-form {
            position: relative;
        }
        .flower-transition {
            height: 100%;
            top: -5%;
            position: absolute;
            width: 100%;
            left: 0;
            li {
                top: 20%;
                font-size: 2em;
                color: white;
                position: absolute;
                width: 100%;
                height: 60%;
                opacity: 0;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: right;

                &:nth-child(1) {
                    background-image: url("../img/hcar/1_1.png");
                }
                &:nth-child(2) {
                    background-image: url("../img/hcar/2_1.png");
                }
                &:nth-child(3) {
                    background-image: url("../img/hcar/4_1.png");
                }
            }
        }
    }
}

.arrow-arm {
    position: absolute;
    height: 1.5em;
    background: url("../img/arrow.png") no-repeat;
    width: 60%;
    bottom: -1.5em;
    left: 37%;
}

.top-header-group {
    h4 {
        margin-top: 1.5em;
    }
}

.header-form {
    background-image: none;
    background-color: $brand-info;
}

.contact-group {
    font-size: 1.4em;
    margin-top: .5em;
    text-align: center;
    margin-bottom: 0;
    @media (min-width: 768px) {
        float: right;
    }
    li {
        margin-bottom: 5px;
        &:nth-last-child(2) {
            margin-bottom: 0;
        }
    }
}

.icon-c {
    margin-right: 5px;
    display: inline-block;
    content: '';
    width: 1em;
    height: 1em;
    background-size: 100%;
    background-repeat: no-repeat;
    &.viber {
        background-image: url("../img/icons/icon-viber.png");
        left: -5em;
    }
    &.whatsapp {
        background-image: url("../img/icons/icon-whatsapp.png");
        left: -3.5em;
    }
    &.mts {
        background-image: url("../img/icons/i-mts.png");
        left: -1.5em;
    }
    &.ks {
        background-image: url("../img/icons/new/kstar.png");
    }
    &.life {
        background-image: url("../img/icons/new/life.png");
        background-position: bottom;
    }
    &.skype {
        background-image: url("../img/icons/new/skype.png");
    }
}
.contact-number{
    //font-size: 1.2em;
}
.contact {
    &-number {
        display: block;
        &-text {
            display: inline-block;
            vertical-align: text-bottom;
            font-size: .9em;
        }
    }
}

.logo-img {
    max-width: 260px !important;
}
