.production-section {
    .spacer {
        padding-top: 100%;
    }
    .section-body {
        padding-top: 3em;
    }
}

.prod-card {
    margin-bottom: 4em;
    padding-bottom: 1em;
    background-color: white;

    .card-photo {
        background-size: cover;
        background-position: center;
        position: relative;
        &-block {
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            &.card-15 {
                background-image: url("../img/prod/15_3.jpg");
                &-hovered {
                    background-image: url("../img/prod/15_4.jpg");
                }
            }
            &.card-19 {
                background-image: url("../img/prod/19_1.jpg");
                &-hovered {
                    background-image: url("../img/prod/19_3.jpg");
                }
            }
            &.card-25 {
                background-image: url("../img/prod/25_1.jpg");
                &-hovered {
                    background-image: url("../img/prod/25_3.jpg");
                }
            }
            &.card-35 {
                background-image: url("../img/prod/35_1.jpg");
                &-hovered {
                    background-image: url("../img/prod/35_2.jpg");
                }
            }
            &.card-51 {
                background-image: url("../img/prod/51_1.jpg");
                &-hovered {
                    background-image: url("../img/prod/51_4.jpg");
                }
            }
            &.card-75 {
                background-image: url("../img/prod/75_1.jpg");
                &-hovered {
                    background-image: url("../img/prod/75_2.jpg");
                }
            }
            &.card-101 {
                background-image: url("../img/prod/101_1.jpg");
                &-hovered {
                    background-image: url("../img/prod/101_2.jpg");
                }
            }
            &.card-151 {
                background-image: url("../img/prod/151_1.jpg");
                &-hovered {
                    background-image: url("../img/prod/151_2.jpg");
                }
            }
            &.card-201 {
                background-image: url("../img/prod/201_1.jpg");
                &-hovered {
                    background-image: url("../img/prod/201_2.jpg");
                }
            }
            &.card-bear {
                background-image: url("../img/prod/bear_160.jpg");
                &-hovered {
                    background-image: url("../img/prod/bear_200.jpg");
                }
            }
            &.sweet {
                background-image: url("../img/prod/sweet-1.jpg");
                &-hovered {
                    background-image: url("../img/prod/sweet-2.jpg");
                }
            }
//13/07
            &.card-hz-15 {
                background-image: url("../img/prod/15_hriz.jpg");
                &-hovered {
                    background-image: url("../img/prod/15_hriz.jpg");
                }
            }
            &.card-hz-51 {
                background-image: url("../img/prod/51_hriz_1.jpg");
                &-hovered {
                    background-image: url("../img/prod/51_hriz_2.jpg");
                }
            }
            &.card-hz-75 {
                background-image: url("../img/prod/75_hriz.jpg");
                &-hovered {
                    background-image: url("../img/prod/75_hriz.jpg");
                }
            }
            &.card-hz-101 {
                background-image: url("../img/prod/101_hriz_2.jpg");
                &-hovered {
                    background-image: url("../img/prod/101_hriz_1.jpg");
                }
            }
            &.card-als-15 {
                background-image: url("../img/prod/15_als.jpg");
                &-hovered {
                    background-image: url("../img/prod/15_als.jpg");
                }
            }
            &.card-als-25 {
                background-image: url("../img/prod/25_als_2.jpg");
                &-hovered {
                    background-image: url("../img/prod/25_als_1.jpg");
                }
            }
            &.card-als-41 {
                background-image: url("../img/prod/41_als.jpg");
                &-hovered {
                    background-image: url("../img/prod/41_als.jpg");
                }
            }
            &.card-als-101 {
                background-image: url("../img/prod/101_als.jpg");
                &-hovered {
                    background-image: url("../img/prod/101_als.jpg");
                }
            }
        }

        //offers
        &.offer-3 {
            background-image: url("../img/prod/offerbox.jpg");
        }

    }
    .p-heading {
        padding: 1em 0;
    }
    .p-name {
        font-size: 110%;
    }
    .p-line {
        display: inline-block;
        height: 2px;
        width: 2em;
        background-color: $brand-danger;
    }

    .p-button-group {
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
            width: 40%;
            font-size: 1em;
            height: 2.5em;
            padding: 0;
            line-height: 2.5em;
            text-align: center;
            border-radius: $border-radius-small;
            &:nth-child(1) {
                box-shadow: 0 0 2px 0 gray;
            }
        }

    }
}

.callback-block {
    background-size: cover;
    background-position: center;
    padding: 3em 0;
    @media (max-width: $screen-tablet) {
        background-image: url("../img/callback-bg-lowres.jpg");
    }
    @media (min-width: $screen-tablet) {
        background-image: url("../img/callback-bg-hires.jpg");
    }
}

.callback-form {
    max-width: 300px;
    margin: 0 auto;
    input {
        width: 100%;
        height: 2.5em;
        padding: 0;
        line-height: 2.5em;
        font-size: 1.2em;
        &[type='text'] {
            padding-left: 2em;
            &::-webkit-input-placeholder {
                color: $gray-light;
            }
            border: 1px solid $gray-light;
            border-radius: $border-radius-base;
            &:focus,
            &:active {
                border-color: $brand-success;
                color: $brand-success;
            }
            &[name='name'] {
                background: url("../img/icons/name_gray.png") no-repeat 5px center;
                &:focus,
                &:active {
                    background: url("../img/icons/name_green.png") no-repeat 5px center;
                }
            }
            &[name='phone'] {
                background: url("../img/icons/phone_gray.png") no-repeat 5px center;
                &:focus,
                &:active {
                    background: url("../img/icons/phone_green.png") no-repeat 5px center;
                }
            }
        }
    }
    .input-group {
        width: 100%;
        margin: .5em 0;
    }
}

.callback-header {
    color: black;
    font-size: 2em;
    max-width: 530px;
    margin: 0 auto 1em;
    font-family: 'RalewaySemiBold', sans-serif;
    line-height: 1.8;
    @media (max-width: $screen-phone) {
        font-size: 1.2em;
    }
}

.special-offer {
    position: relative;
    background: url("../img/block-offer-bg.png");
    .offer-header {
        padding: 1em 0;
        margin-top: 0;
        text-align: center;
        color: white;
        background-size: contain;
        background: url("../img/offer-head-bg.png") no-repeat center;
    }
}
